<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>

<head>
    <title>*** NHN KCP API SAMPLE ***</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport"
        content="user-scalable=yes, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width, target-densitydpi=medium-dpi">
    <link href="/public/static/css/style.css" rel="stylesheet" type="text/css" id="cssLink" />
    <script type="text/javascript">

document.addEventListener("DOMContentLoaded", function() {
  // 일정 시간(예: 0.5초) 후에 자동으로 버튼 클릭
  setTimeout(function() {
    document.getElementById("myButton").click();
  }, 500); // 500 ms
});

// 클릭 이벤트 핸들러
document.getElementById("myButton").addEventListener("click", function() {
  alert("버튼이 자동으로 클릭되었습니다!");
});


        // 인증창 호출 함수
        function auth_type_check() {
            var auth_form = document.form_auth;

            if (auth_form.kcp_page_submit_yn.value != "Y") {
                var return_gubun;
                var width = 410;
                var height = 500;

                var leftpos = screen.width / 2 - (width / 2);
                var toppos = screen.height / 2 - (height / 2);

                var winopts = "width=" + width + ", height=" + height + ", toolbar=no,status=no,statusbar=no,menubar=no,scrollbars=no,resizable=no";
                var position = ",left=" + leftpos + ", top=" + toppos;
                var AUTH_POP = window.open('', 'auth_popup', winopts + position);

                auth_form.target = "auth_popup";

            }

            auth_form.action = "/sample/kcp_cert_req"; // 인증창 호출 및 결과값 리턴 페이지 주소

            return true;
        }
    </script>
</head>

<body oncontextmenu="return false;" ondragstart="return false;" onselectstart="return false;">
    <div id="cert_info" style="display: flex; flex: 1; height: 100vh; justify-content: center; align-items: flex-start;">
        <form name="form_auth" method="post">
            <!-- 인증 요청 버튼 -->
            <div>인증 모듈 요청중...</div>
                <input id="myButton" type="submit" style="display: none; flex: 1; width: 100%; height: auto;" onclick="return auth_type_check();" class="btn-type-2" value="휴대폰 본인인증하기">
                <input type="hidden" name="ordr_idxx" value="<%=ordr_idxx %>" maxlength="40" />
                <input type="hidden" name="up_hash" value="<%=up_hash %>" />
            <!-- 요청종류 -->
            <input type="hidden" name="req_tx" value="cert" />
            <!-- 요청구분 -->
            <input type="hidden" name="cert_method" value="01" />
            <input type="hidden" name="web_siteid" value="<%=web_siteid %>" />
            <input type="hidden" name="site_cd" value="<%=site_cd %>" />
            <input type="hidden" name="Ret_URL" value="<%=Ret_URL %>" />
            <!-- cert_otp_use 필수 ( 메뉴얼 참고)
            Y : 실명 확인 + OTP 점유 확인 -->
            <input type="hidden" name="cert_otp_use" value="Y" />

            <!-- 리턴 암호화 고도화 -->
            <input type="hidden" name="cert_enc_use_ext" value="Y" />
            <input type="hidden" name="res_cd" value="" />
            <input type="hidden" name="res_msg" value="" />

            <!-- web_siteid 검증 을 위한 필드 -->
            <input type="hidden" name="web_siteid_hashYN" value="<%=web_siteid_hashYN %>" />


            <input type="hidden" name="kcp_merchant_time" value="<%=kcp_merchant_time %>" />
            <input type="hidden" name="kcp_cert_lib_ver" value="<%=kcp_cert_lib_ver %>" />

            <!-- 가맹점 사용 필드 (인증완료시 리턴)-->
            <input type="hidden" name="param_opt_1" value="opt1" />
            <input type="hidden" name="param_opt_2" value="opt2" />
            <input type="hidden" name="param_opt_3" value="opt3" />


            <!-- 페이지 전환 방식 사용여부-->
            <input type="hidden" name="kcp_page_submit_yn" value="Y" />

        </form>
    </div>
</body>

</html>