
<!DOCTYPE>
<html>
<head>
    <title>*** NHN KCP API SAMPLE ***</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=yes, target-densitydpi=medium-dpi">  
    <script type="text/javascript">
    function goReq()
        {
            var res_cd = document.getElementById('res_cd').innerHTML;
            var res_msg = document.getElementById('res_msg').innerHTML;

            if (res_cd == "0000")
            {
            //  alert("up_hash 생성 성공");
             document.form_hash.action = "/sample/kcp_cert_start";
             document.form_hash.submit();
			 
            }
			else 
			{
                alert("에러 코드 : "+ res_cd +", 에러 메세지 : "+ res_msg);
                location.href = "sample/make_hash";
            }
        }
    </script>
</head>
<body onload="goReq();">
    <div class="wrap">
        <p id="res_cd" style="display: none;"><%=data.res_cd %></p>
        <p id="res_msg" style="display: none;"><%=data.res_msg %></p>
        <!-- up_hash 응답 파라미터를 form 데이터로 전송 -->
        <form name="form_hash" method="post">
        <input type="hidden" name="site_cd" value="<%=site_cd %>"/>
        <input type="hidden" name="ordr_idxx" value="<%=ordr_idxx %>"/>
        <input type="hidden" name="web_siteid" value="<%=web_siteid %>"/>
        <input type="hidden" name="up_hash" value="<%=data.up_hash %>"/>
        <input type="hidden" name="kcp_merchant_time" value="<%=data.kcp_merchant_time %>"/>
        <input type="hidden" name="kcp_cert_lib_ver" value="<%=data.kcp_cert_lib_ver %>"/>
        <input type="hidden" name="web_siteid_hashYN" value="<%=web_siteid_hashYN %>"/> 
        </form>
    </div>
<!--//wrap-->
</body>
</html>